
element.style {
  width: 967px;
  left: 0px;
  top: 0px;
}

.header-container {
  background-color: #007bff; /* Change the background color as desired */
}

.logo {
  font-weight: bold;
  color: #fff; /* Change the logo text color as desired */
}

.nav-link {
  margin-right: 10px;
  color: #fff; /* Change the link text color as desired */
}

.nav-link:hover {
  color: #ffc107; /* Change the hover color as desired */
}

.dropdown-menu {
  background-color: #007bff;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: #ffc107; /* Change the hover background color as desired */
}

.navbar-toggler {
  border-color: #fff; /* Change the toggler icon color as desired */
}
